.discrypt-toggle {
    padding: 0px;
    padding-bottom: 4px;
}

.discrypt-config {
    margin-left: 8px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.lock-icon-div {
    width: 24px;
    height: 27px;
}